@charset "UTF-8";

.bandeira{
  margin: 150px auto 50px;
  background-position: 70%, 50%;
}
.text-container{
  width: 80%;
  margin: auto;
}

.text-container h2{
    font-size: 1.5em;
  }
  
  .text-container p, .atuacoes p
{
    font-size: 1em;
  }

  .box-card p, .txt-escritorio p{
  font-size: 1.1em;

}

.txt-escritorio{
  padding: 50px 0;
}


