@charset "UTF-8";


.bandeira{
  background-position: top;
}

.txt-bandeira h1{
  font-size: 1.8em;
  width: 100%;
}

.txt-bandeira button{
  margin-top: 30px;
}


.card-atuacao{
  width: 100%;
  margin: 20px 0;
}


.txt-escritorio{
  padding: 100px 0;
}




.box-card p, .txt-escritorio p{
  width: 80%;
  font-size: 1.2em;

}



.box-atendimento-contato{
  flex-direction: row;

}

.formulario{
  width:30%;
  
}

.contato-form h3{
  text-align: left;

}


.form{
  margin: 0;
}





.redirecionamento-atuacoes{
  width: 450px;
  height: 450px;
   position: absolute;
   right: 15%;
   top: 60%;
   transform: translate(-15%, -60%);


   
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .redirecionamento-atuacoes{

     right: 1%;

     
  }
  
}


@media (min-width: 1500px) and (max-width: 1774px) {
  .redirecionamento-atuacoes{

     right: 3%;

     
  }
  
}


.card-blog{
  width: 350px;

}

.card-blog img {
  height: 200px;

}



  

